@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';

$theme-colors: (
  "primary": #009dde,
  "secondary":#111B2C,
  "danger": coral,
  "info": #633478
);

$primary: #009dde;
$secondary: #111B2C;
$danger: coral;
$info: #633478;

$body-bg: $light;

.border-b-link {
  border-bottom: 2px solid transparent !important;
  &:hover {
    border-bottom: 2px solid $info !important;
    transition: all .25s !important;
  }
}

%fa-shared {
  font-size: 2rem;
}
.fa {

  &-itunes-note {
    @extend %fa-shared;
    color: #af52de;
  }

  &-spotify {
    @extend %fa-shared;
    color: #1DB954;
  }

  &-soundcloud {
    @extend %fa-shared;
    color: #FE5000;
  }
  
}


@import './node_modules/bootstrap/scss/bootstrap.scss'

