@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

$theme-colors: (
  "primary": #009dde,
  "secondary":#111B2C,
  "danger": coral,
  "info": #633478
);

$primary: #009dde;
$secondary: #111B2C;
$danger: coral;
$info: #633478;

$body-bg: $light;

html {
  height: auto !important;
  scroll-behavior: smooth;
}


.border-b-link {
  border-bottom: 2px solid transparent !important;
  &:hover {
    border-bottom: 2px solid $info !important;
    transition: all .25s !important;
  }
}

.anchor {
  display: block;
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  position: relative;
}


#acast-ico {
  height: 1.85rem;
  width: 1.75rem;

}

%fa-shared {
  font-size: 1.75rem;
}
.fa {

  &-itunes-note {
    @extend %fa-shared;
    font-size: 1.85rem;
    color: #af52de;
  }

  &-spotify {
    @extend %fa-shared;
    color: #1DB954;
  }

  &-youtube {
    @extend %fa-shared;
    font-size: 1.85rem;
    color: #FF0000;
  }

  &-facebook {
    @extend %fa-shared;
    color: #4267B2;
  }

  &-twitter {
    @extend %fa-shared;
    color: #1DA1F2;
  }

  &-instagram {
    @extend %fa-shared;
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 5px;
    padding: 0 2px;
  }

  &-patreon {
    @extend %fa-shared;
    color: #FF424D;
  }
}

#about-image {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
}

#subscribe-links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#main-footer {
  margin-top: 400px !important;
}

@media (min-width: 576px) {

  #main-nav-links {
    border: 0px solid !important;
  }

  #about-content {
    display: flex !important;
  }

  #about-image {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 350px;
  }

}


@import './node_modules/bootstrap/scss/bootstrap.scss'

